.optionalimage (@img, @hasImage) when (@hasImage='yes') {
    background-image: url("@{image_path}@{img}");
}

.containerSetup (@isContainer) when (@isContainer='yes') {
    position: relative;
    overflow: hidden;
}

.containerSetup (@isContainer) when (@isContainer='no') {
    position: absolute;
}


.offscreen(@startOffscreen, @height) when (@startOffscreen='yes') {
    bottom: -@height;
}

.base(@x, @y, @img: '', @startOffscreen, @hasImage) {
    .optionalimage(@img, @hasImage);
    .offscreen(@startOffscreen, @y);
    padding: 0;
    margin: 0;
    width: @x;
    height: @y;
}

.blob(@name, @x, @y, @extension: 'png', @startOffscreen: 'no', @hasImage: 'yes', @isContainer: 'no') {
    .@{name} {
        .base(@x, @y, '@{name}.@{extension}', @startOffscreen, @hasImage);
        .containerSetup(@isContainer)
    }
}
